.pager-box {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    > .pager {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        > .page-mover {
            padding: 2px 4px;
            border-radius: 2px;
            font-size: var(--fontSize-xs);
            color: var(--color-darkGray);
            transition: all 200ms ease;
        }

        > .page-mover:hover:not(.disabled) {
            color: var(--color-black);
            font-weight: var(--fontWeight-semiBold);
        }

        > .disabled {
            user-select: none;
        }

        > .page-nums {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: var(--color-black);
            font-size: var(--fontSize-md);

            button {
                width: 24px;
                height: 24px;
                border-radius: 4px;
                transition: all 200ms ease;
            }

            button:hover:not(.active) {
                font-weight: var(--fontWeight-semiBold);
            }

            .active {
                background-color: var(--color-main3);
                font-weight: var(--fontWeight-semiBold);
            }
        }
    }
}
