.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
    user-select: none;

    > .logo {
        display: flex;
        gap: 8px;
        align-items: center;

        > img {
            width: 80px;
            height: 80px;
        }

        > h1 {
            color: var(--color-main1);
        }
    }

    > .nav {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    > .user {
        display: flex;
        gap: 12px;
        font-size: var(--fontSize-xl);
        font-weight: var(--fontWeight-regular);

        :hover {
            font-weight: var(--fontWeight-semiBold);
        }
    }
}
