.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 24px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        > h3 {
            font-size: var(--fontSize-2xl);
        }
        > p {
            font-size: var(--fontSize-md);
        }
    }

    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 24px;

        > img {
            width: 200px;
        }
        > p {
            color: var(--color-darkGray);
            font-size: var(--font-size-md);
        }
    }
}
