.card {
    display: inline-grid;

    width: 100%;
    background: transparent;
    transform: perspective(800px) rotateY(0deg);
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;

    > * {
        grid-area: 1 / 1 / 1 / 1;
        width: 100%;
        height: 250px;
        padding: 0 24px;
        border-radius: 12px;
        backface-visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        cursor: pointer;
    }

    .card-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;

        background: var(--color-main2);

        .profile {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            background-color: var(--color-lightGray);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            border-radius: 100%;
            border: 1px solid var(--color-gray);
        }

        .nickname {
            font-size: var(--fontSize-xl);
            margin-bottom: 8px;
            font-weight: var(--fontWeight-semiBold);
            color: var(--color-darkGray);
        }

        .title {
            font-weight: var(--fontWeight-semiBold);
        }
    }

    .card-back {
        background-color: var(--color-main3);
        display: flex;
        align-items: center;
        padding: 24px;
        font-size: var(--fontSize-xl);
        transform: rotateY(180deg);
    }
}

.card:hover {
    transform: perspective(800px) rotateY(180deg);
}
