.nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 32px;
    white-space: nowrap;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        gap: 16px;
    }

    > .true {
    }
}
