.container {
    max-width: 450px;
    width: 450px;
    margin: 0 auto;
    padding: 2rem;
}

.inputGroup {
    margin-bottom: 1rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    input {
        width: 73%;
        padding: 0.5rem;
        border: 1px solid var(--color-gray);
        border-radius: 5px;
    }
}

.duplicateButton {
    width: 25%;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.3rem 1rem;
    background-color: var(--color-main3);
    color: var(--color-black);
    border-radius: 4px;
}

.error {
    width: 73%;
    color: var(--color-red);
    font-size: var(--fontSize-sm);
    margin-top: 0.2rem;
}

.success {
    width: 73%;
    color: var(--color-main1);
    font-size: var(--fontSize-sm);
    margin-top: 0.2rem;
}

.submitButton {
    width: 73%;
    padding: 0.7rem;
    background-color: var(--color-main1);
    color: white;
    border-radius: 5px;
    font-size: var(--fontSize-md);
    font-weight: var(--fontWeight-bold);
}

.bottomText {
    text-align: center;
    font-size: var(--fontSize-sm);
    margin-top: 1rem;

    a {
        color: var(--color-main1);
        font-weight: bold;
        margin-left: 4px;
    }
}
