.wrapper {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        >img {
            width: 150px;
            height: 150px;
        }

        >h1 {
            color: var(--color-main1);
            font-size: var(--fontSize-2xl);
        }
    }
}